







/* =================================== */
/* NOTMAP */
/* =================================== */

td {
	vertical-align: top;
}
td.object, td.multiline {
	font-size: 10%;
}









/* =================================== */
/* MAP */
/* =================================== */


:root {
	--map_font: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	--map_ink: #000;
	--map_ink_dim: rgba(0,0,0,.5);
	--map_ink_test: rgba(255,255,255,.1);
	--map_ink_bg: orange;
	--map_ink-off: maroon;
	--map_ink-alert: red;
}


.dungeon_map {
	font-family: var(--map_font); 
	float: right; 
	color: var(--map_ink);
	margin: 10px 10px 30px 30px;
	_padding: 20px; 
	background: var(--map_bg);
	background-size: 100% 100%;
    transform-origin: right top;
	transition: transform .3s ease;
	_transform: scale(1.60);
	_cursor: zoom-in;
	min-width: 100px;
    min-height: 100px;
}
.dungeon_map:active {
	_transform: scale(1.75);
	z-index: 999;
}

.dungeon_map > .inner {
	padding: 3px;
	margin: 15px;
	border: 1px dotted var(--map_ink_dim);
}


.dungeon_map table {
	min-width: auto;
	margin: 2px;
    _border: 1px dashed var(--map_ink);
}

.dungeon_map table td {
	padding: 0;
	width: 8px;
	height: 8px; 
	overflow: visible !important;
    line-height: 12px;
    vertical-align: middle;
	position: relative;
	_background: var(--map_ink_bg);
}
.dungeon_map table td .symbol {
	transform: scaleY(0.6);
	display: inline-block;
	position: relative;
}

.dungeon_map .auto0 /* unknown */ {
	color: var(--map_ink_test);
}
.dungeon_map .auto1 /* known */ {
	color: var(--map_ink_dim);
}
.dungeon_map .auto2 /* seen */ {
	color: var(--map_ink);
}
.dungeon_map .auto3 /* .visited */ {
	color: var(--map_ink);
}

.dungeon_map .auto2.wall .symbol,
.dungeon_map .auto3.wall .symbol {
	color: var(--map_ink);
	top: -4px;
	text-shadow: 0 8px 0 var(--map_ink_dim);
}






.dungeon_map td.player {
	background-color: var(--map_ink-alert);
	color: var(--map_ink_bg);
	text-shadow: none; 
}


.dungeon_map .icon {
	display: block;
	_width: 16px; 
	_height: 16px;
	position: absolute; 
    left: -3px;
    bottom: 2px;
}










#navigation {
	width: 150px; 
	height: 150px; 
	box-sizing: content-box;

	font-size: 1.2em;
	font-family: var(--map_font); 
	color: var(--main-text-color);
	text-shadow: none;

	position: absolute;
	bottom: 10px;
	right: 10px; 
}
#navigation .inner {
	position: relative;
	left: 1px;
	top: 1px;
}
#navigation .go {
	position: absolute; 
	padding: 0;
	background-color: radial-gradient(rgba(255,255,255,.5) 20%, rgba(255,255,255,0) 70%);
	filter: brightness(80%); 
	transition: filter .2s; 
	_width: 50px; 
	_height: 50px; 
	_box-sizing: content-box; 
	background-size: 100% 100%; 
}
#navigation .go:hover {
	filter: brightness(100%);
}

#navigation .false:hover,
#navigation .false {
	filter: contrast(200%) brightness(20%) ; 
	user-select: none;
	cursor: default;
}


#navigation .a, 
#navigation a {
	color: white;
	text-shadow: 1px 1px 1px black, 0px 0px 1px black;
	font-family: var(--font-fancy);
	text-align: center;
	width: 50px;
	height: 50px;
	padding: 5px 0; 
    box-sizing: border-box;
	display: block; 
}
#navigation a:hover {
	text-decoration: none;
}

#navigation .N { background-image: var(--go_north); top: 00px; left: 50px }
#navigation .S { background-image: var(--go_south); top: 100px; left: 50px }
#navigation .E { background-image: var(--go_east); top: 50px; left: 100px }
#navigation .W { background-image: var(--go_west); top: 50px; left: 0px }





.clear {
	clear:both;
}






















